#container{
    text-align: center;
    margin: auto;
}

.col{
    background-color: grey;
    margin: 2px;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}


.card:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
}