/*color combination from here: https://htmlcolorcodes.com/color-chart/ */



body{
    background-color: white;
}

#container {
    text-align: center;
    margin: auto;
}

.col {
    background-color: grey;
    margin: 2px;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

#cart-button{
    margin-bottom: 32px;
    width: 77%;
    margin-top: 10px;
    background-color: #76cb7a;
    font-weight: bold;
    
}

.alert{
    border: none;
    stroke: none;
    padding-left: 47px;
}

#cart-button:hover{
    background-color: #52be88;
}


#shopping-icon{
    width: auto;
    height: 25px;
}

.card {
    background-color: #F7F9F9;
    color: #111111;
    border: none;
}

.card:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    background-color: #F0F3F4;
}

.card-body{
    text-align: center;
    margin: auto;
}

.card-text-price{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.deleteText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.form-items{
    text-align: left;
}

.form-check{
    text-align: left;
}


.product-title{
    text-align: left;
}

.product-price{
    text-align: center;
}

.navbar {
    font-size: 20px;
    display: flex;
    margin:auto;
    position: relative;
    align-items: center;
    /*gradient bg from: https://cssgradient.io/*/
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    overflow: hidden;
}

.navText {
    font-weight: bold;
    padding: 0 20px;
    white-space: nowrap;
}

#discount {
    animation: colorChange;
    animation-duration: infinite;
    font-weight: bold;
    
}

.btn{
    background-color: #42a38f;
    color: white;
    stroke: none;
    border: none;
}

.btn:hover{
    background-color: #308698;
    color: white;
}


#inner-scroll {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    overflow: hidden;
    width: 100%;
}

.scrolling-content {
    display: flex;
    white-space: nowrap;
    animation: scroll-left 40s linear infinite;
}

.inner-scroll div:nth-child(1){
    animation: scroll-left 80s linear infinite;
}


@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-left2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}